# IBM Data Science Capstone - Neighborhoods
### This notebook will be used for the capstone project in the Data Science Professional Certificate

In [1]:
import pandas as pd
import numpy as np

In [2]:
print ('Hello Capstone Project Course!')

Hello Capstone Project Course!

## Introduction

You mighgt be a seasoned traveller that's been many places. You're a foodie and love theatres. You've travelled to many cities before and you don't really know where you would like to go next? Wouldn't it be nice to get new travel ideas? To find new cities based on how similar they are to the ones you liked in your previous travels?

Or, you might be a business man that travels around a world to sign deals. Everywhere you go, you need to take your futur clients out and entertain them to talk business in a relaxed setting.  Wouldn't it be nice if you could know how similar the next city you're going to go to is to the ones you know already? 

Usually, all these travels start with landing in a major city. Often, these are either country capitals or financial centers. The problem we're going to solve is to answer these questions: How is one city similar to the others? What are the most common venues that set these cities appart?

And to answer these questions, we're going to compare and cluster capitals and financial centers based on the Foursquare API explore venues feature.

## Data

The datasets we will need for this analysis are a list of capital cities and financial centers of the world. To build that list, we will scrape two pages from Wikipedia. 

Thoses pages are "List_of_national_capitals" and "Global_Financial_Centres_Index".
 
Next, we will need to get the venues in every city. For this, we will use the Fourquare API with the maximum setting of 100 000 meters. This will give us a range of 100 km to explore and will cover an area that would be accessible to travelers and business men for a day trip by car or public transport.

To feed the Foursquare API, we will need the geographical coordinates for every city. Those will be provided using the geocoders Nominatim library.

### Example of the capital cities dataset

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_national_capitals' 
dfs = pd.read_html(url)
print(dfs[1])

                                             City/Town     Country/Territory  \
0    Abidjan (former capital; still has many govern...           Ivory Coast
1                              Yamoussoukro (official)           Ivory Coast
2                                            Abu Dhabi  United Arab Emirates
3                                                Abuja               Nigeria
4                                                Accra                 Ghana
..                                                 ...                   ...
251                                           Windhoek               Namibia
252                                            Yaoundé              Cameroon
253                                   Yaren (de facto)                 Nauru
254                                            Yerevan               Armenia
255                                             Zagreb               Croatia

                                                 Notes
0                                                  NaN
1                                                  NaN
2                                                  NaN
3             Lagos was the capital from 1914 to 1991.
4                                                  NaN
..                                                 ...
251                                                NaN
252                                                NaN
253  Country does not have an official capital; how...
254                                                NaN
255                                                NaN

[256 rows x 3 columns]

In [4]:
dfCap = pd.DataFrame()
city = dfs[1]['City/Town'] 
country = dfs[1]['Country/Territory']  
dfCap['Capital'] = city
dfCap['Country'] = country
print(dfCap.shape)
dfCap.head(10)

(256, 2)

                                             Capital               Country
0  Abidjan (former capital; still has many govern...           Ivory Coast
1                            Yamoussoukro (official)           Ivory Coast
2                                          Abu Dhabi  United Arab Emirates
3                                              Abuja               Nigeria
4                                              Accra                 Ghana
5                                          Adamstown      Pitcairn Islands
6                                        Addis Ababa              Ethiopia
7                         Aden (de facto, temporary)                 Yemen
8                                   Sana'a (de jure)                 Yemen
9                                            Algiers               Algeria

### Example of the financial centers dataset

In [5]:
url2 = 'https://en.wikipedia.org/wiki/Global_Financial_Centres_Index' 
dff = pd.read_html(url2)
print(dff[1])

    Rank  Change            Centre  Rating  Change.1
0      1     NaN     New York City     770       1.0
1      2     NaN            London     766      24.0
2      3     1.0          Shanghai     748       8.0
3      4     1.0             Tokyo     747       6.0
4      5     1.0         Hong Kong     743       6.0
5      6     1.0         Singapore     742       4.0
6      7     NaN           Beijing     741       7.0
7      8     NaN     San Francisco     738       6.0
8      9     2.0          Shenzhen     732      10.0
9     10     4.0            Zurich     724       5.0
10    11     1.0       Los Angeles     720       3.0
11    12     6.0        Luxembourg     719       4.0
12    13     4.0         Edinburgh     718       2.0
13    14     5.0            Geneva     717      12.0
14    15    10.0            Boston     716       8.0
15    16     3.0         Frankfurt     715       5.0
16    17     5.0             Dubai     714       7.0
17    18     3.0             Paris     713       5.0
18    19     5.0  Washington, D.C.     712       3.0
19    20     4.0           Chicago     711       6.0
20    21     2.0         Guangzhou     710       4.0
21    22     5.0         Amsterdam     701       2.0
22    23     5.0         Stockholm     700       2.0
23    24     2.0         Vancouver     698      13.0
24    25     8.0             Seoul     695       1.0
25    26     NaN          Montreal     694      10.0
26    27     6.0         Melbourne     693      19.0
27    28    15.0            Madrid     692      14.0
28    29     NaN           Hamburg     690       9.0
29    30     4.0          Brussels     686       5.0
30    31     8.0           Toronto     684      26.0
31    32    12.0            Sydney     682      31.0
32    33     6.0         Abu Dhabi     681       1.0
33    34     4.0            Dublin     679      19.0
34    35    10.0            Mumbai     678       6.0
35    36     1.0        Copenhagen     674      15.0
36    37     5.0         Stuttgart     672      24.0
37    38     4.0             Milan     670       9.0
38    39    20.0             Osaka     665       9.0
39    40    11.0             Busan     664       NaN
40    41     3.0      Kuala Lumpur     663      14.0
41    42    33.0            Taipei     662      22.0
42    43    31.0           Chengdu     659      18.0
43    44    13.0        Wellington     657      40.0
44    45     9.0          Tel Aviv     656      32.0
45    46     5.0        Casablanca     655      25.0
46    47    52.0           Qingdao     654      44.0
47    48    11.0            Munich     653      34.0
48    49    20.0         New Delhi     652       6.0
49    50    11.0              Oslo     651       3.0
50    51    11.0           Calgary     649      32.0
51    52    13.0           Glasgow     648       2.0
52    53     NaN              Rome     643      19.0
53    54    16.0            Vienna     640      45.0
54    55     6.0       Jersey (CD)     637      29.0
55    56     8.0              Doha     627      42.0

In [7]:
dfFin = pd.DataFrame()
center1 = dff[1]['Centre']
center2 = dff[2]['Centre']
dfFin['Financial Center'] = center1.append(center2, ignore_index=True)
print(dfFin.shape)
dfFin.tail(10)

(111, 1)

     Financial Center
101            Tehran
102       Kuwait City
103  Saint Petersburg
104             Xi'an
105            Manila
106            Riyadh
107           Tianjin
108          Hangzhou
109            Dalian
110             Wuhan

### Example of geocoders

In [8]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

In [36]:
for x in range(0,5):
    address = dfFin.loc[x,'Financial Center']
    geolocator = Nominatim(user_agent="ny_explorer") 
    location = geolocator.geocode(address)
    latitude = location.latitude
    longitude = location.longitude
    print('The geograpical coordinate of ',dfFin.loc[x,'Financial Center'],  ' are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of  New York City  are 40.7127281, -74.0060152.
The geograpical coordinate of  London  are 51.5073219, -0.1276474.
The geograpical coordinate of  Shanghai  are 31.2322758, 121.4692071.
The geograpical coordinate of  Tokyo  are 35.6828387, 139.7594549.
The geograpical coordinate of  Hong Kong  are 22.350627, 114.1849161.

### Example of Foursquare API explore venues feature

In [31]:
# The code was removed by Watson Studio for sharing.

In [40]:
import json
import requests

city_latitude = latitude
city_longitude = longitude
city_name = dfFin.loc[x,'Financial Center']

print('Latitude and longitude values of {} are {}, {}.'.format(city_name,city_latitude,city_longitude))
VERSION = '20180605' # Foursquare API version

LIMIT = 5 # limit of number of venues returned by Foursquare API
radius = 100000 # define radius of 100 km
# create URL
url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
CLIENT_ID, CLIENT_SECRET, VERSION, city_latitude, city_longitude, radius,
LIMIT)
print(url) # display URL
results = requests.get(url).json() 
results

Latitude and longitude values of Hong Kong are 22.350627, 114.1849161.
https://api.foursquare.com/v2/venues/explore?&client_id=HGTQKEYL2BGEFGU2JS43LI4AOWASODLQC33WIYUKCBAMAPVK&client_secret=K2CFUHUWDCGEWHF144ORU0QSB32HRYSLVF4FFNYX2DJY3UMJ&v=20180605&ll=22.350627,114.1849161&radius=100000&limit=5

{'meta': {'code': 200, 'requestId': '5fbbf06d0cc1d6096f04b210'},
 'response': {'suggestedFilters': {'header': 'Tap to show:',
   'filters': [{'name': 'Open now', 'key': 'openNow'}]},
  'headerLocation': 'Hong Kong',
  'headerFullLocation': 'Hong Kong',
  'headerLocationGranularity': 'city',
  'totalResults': 240,
  'suggestedBounds': {'ne': {'lat': 23.2506279000009,
    'lng': 115.15620562749005},
   'sw': {'lat': 21.4506260999991, 'lng': 113.21362657250994}},
  'groups': [{'type': 'Recommended Places',
    'name': 'recommended',
    'items': [{'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4bb697b3ef159c74493d76f7',
       'name': 'Nan Lian Garden (南蓮園池)',
       'location': {'address': '60 Fung Tak Rd',
        'lat': 22.339033,
        'lng': 114.204766,
        'labeledLatLngs': [{'label': 'display',
          'lat': 22.339033,
          'lng': 114.204766}],
        'distance': 2417,
        'cc': 'HK',
        'city': '钻石山',
        'country': '香港',
        'formattedAddress': ['60 Fung Tak Rd', '香港']},
       'categories': [{'id': '4bf58dd8d48988d15a941735',
         'name': 'Garden',
         'pluralName': 'Gardens',
         'shortName': 'Garden',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/garden_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4bb697b3ef159c74493d76f7-0'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4b3989daf964a5208d5d25e3',
       'name': 'Broadway Cinematheque (百老匯電影中心)',
       'location': {'address': 'G/F, Prosperous Garden, 3 Public Square St',
        'lat': 22.310610181288094,
        'lng': 114.16873044211665,
        'labeledLatLngs': [{'label': 'display',
          'lat': 22.310610181288094,
          'lng': 114.16873044211665}],
        'distance': 4756,
        'cc': 'HK',
        'city': '油麻地',
        'country': '香港',
        'formattedAddress': ['G/F, Prosperous Garden, 3 Public Square St',
         '香港']},
       'categories': [{'id': '4bf58dd8d48988d180941735',
         'name': 'Multiplex',
         'pluralName': 'Multiplexes',
         'shortName': 'Cineplex',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/arts_entertainment/movietheater_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4b3989daf964a5208d5d25e3-1'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d8b58621508a1433ce4381e',
       'name': 'Lion Rock (獅子山)',
       'location': {'lat': 22.358955,
        'lng': 114.18847,
        'labeledLatLngs': [{'label': 'display',
          'lat': 22.358955,
          'lng': 114.18847}],
        'distance': 996,
        'cc': 'HK',
        'neighborhood': 'Sha Tin District',
        'city': '九龍',
        'state': 'Kowloon City',
        'country': '香港',
        'formattedAddress': ['Kowloon City', '香港']},
       'categories': [{'id': '4eb1d4d54b900d56c88a45fc',
         'name': 'Mountain',
         'pluralName': 'Mountains',
         'shortName': 'Mountain',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/mountain_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d8b58621508a1433ce4381e-2'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4c6a79b5d0bdc9b6ba80a80b',
       'name': 'The Ritz-Carlton, Hong Kong (香港麗思卡爾頓酒店)',
       'location': {'address': '1 Austin Road West, International Commerce Centre, Tsim Sha Tsui',
        'lat': 22.3034608,
        'lng': 114.1602184,
        'labeledLatLngs': [{'label': 'display',
          'lat': 22.3034608,
          'lng': 114.1602184}],
        'distance': 5833,
        'cc': 'HK',
        'city': 'West Kowloon',
        'country': '香港',
        'formattedAddress': ['1 Austin Road West, International Commerce Centre, Tsim Sha Tsui',
         '香港']},
       'categories': [{'id': '4bf58dd8d48988d1fa931735',
         'name': 'Hotel',
         'pluralName': 'Hotels',
         'shortName': 'Hotel',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/travel/hotel_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4c6a79b5d0bdc9b6ba80a80b-3'},
     {'reasons': {'count': 0,
       'items': [{'summary': 'This spot is popular',
         'type': 'general',
         'reasonName': 'globalInteractionReason'}]},
      'venue': {'id': '4d1cc714fd7bb60cfadca0e1',
       'name': 'Kowloon Peak (Fei Ngo Shan) (飛鵝山)',
       'location': {'address': 'Fei Ngo Shan Rd',
        'lat': 22.35305533171219,
        'lng': 114.22099390586244,
        'labeledLatLngs': [{'label': 'display',
          'lat': 22.35305533171219,
          'lng': 114.22099390586244}],
        'distance': 3724,
        'cc': 'HK',
        'city': 'Kowloon Peak',
        'country': '香港',
        'formattedAddress': ['Fei Ngo Shan Rd', '香港']},
       'categories': [{'id': '4eb1d4d54b900d56c88a45fc',
         'name': 'Mountain',
         'pluralName': 'Mountains',
         'shortName': 'Mountain',
         'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/parks_outdoors/mountain_',
          'suffix': '.png'},
         'primary': True}],
       'photos': {'count': 0, 'groups': []}},
      'referralId': 'e-0-4d1cc714fd7bb60cfadca0e1-4'}]}]}}